@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-dark-blue-with-modern-corporate-concept-bright-blue-business-background_327072-51607.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: center;
    margin-top: 15px;

}
.accordion {
    font-family:"Montserrat Alternates" ;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    margin-top: 15%;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-button {
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-content {
    font-family: "Montserrat Alternates", sans-serif;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.accordion-content p {
    margin: 15px 0;
}
